div
  |{% for post in site.posts %}
  article
    h1 
      a(href="{{ site.baseurl }}{{ post.url }}")
        |{{ post.title | markdownify }}
    |{% if post.subtitle %}
    h3.post-subtitle
      |{{ post.subtitle | markdownify }}
    |{% endif %}
    .info
      span.post-date
        |{{ post.date | date_to_string }}
      |{% for tag in post.tags %}  
      span.post-tags {{ tag }}
      |{% endfor %}
    |{{ post.excerpt | markdownify }}
  |{% endfor %}
  
  