aside
  .sidebar-about
    h1 
      a Shang Wen Long
    p.lead Front-End developer
  nav
    each val in ['Blog','About', 'Resume', 'Projects']
      a.sidebar-nav-item(href="/")= val
  ul.list-inline
    each val, index in{envelope:'mailto:dxcqcv@gmail.com',github:'https://github.com/dxcqcv',twitter:'https://twitter.com/dxcqcv',linkedin:'http://www.linkedin.com/in/wenlong-shang-603a412b?trk=hp-identity-name',wechat:''}
      li
        - if (index == 'envelope')
        a(href=val)
          i(class="fa fa-"+index+''  aria-hidden="true")
        - else
        a(href=val target="_blank")
          i(class="fa fa-"+index+''  aria-hidden="true")
  small#credits &copy; 2016. Credits.
