Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: SyntaxError: Mismatched Bracket: }
  
  - index.js:154 Function.parseChar
    [dxcqcv.github.io]/[character-parser]/index.js:154:21
  
  - index.js:1118 Lexer.attrs
    [dxcqcv.github.io]/[pug-lexer]/index.js:1118:39
  
  - index.js:1298 Lexer.callLexerFunction
    [dxcqcv.github.io]/[pug-lexer]/index.js:1298:23
  
  - index.js:1335 Lexer.advance
    [dxcqcv.github.io]/[pug-lexer]/index.js:1335:15
  
  - index.js:1298 Lexer.callLexerFunction
    [dxcqcv.github.io]/[pug-lexer]/index.js:1298:23
  
  - index.js:1354 Lexer.getTokens
    [dxcqcv.github.io]/[pug-lexer]/index.js:1354:12
  
  - index.js:12 lex
    [dxcqcv.github.io]/[pug-lexer]/index.js:12:42
  
  - index.js:94 Object.load.string.lex
    [dxcqcv.github.io]/[pug]/lib/index.js:94:27
  
  - index.js:45 Function.loadString [as string]
    [dxcqcv.github.io]/[pug-load]/index.js:45:24
  
  - index.js:81 compileBody
    [dxcqcv.github.io]/[pug]/lib/index.js:81:18
  
  - index.js:238 Object.exports.compile
    [dxcqcv.github.io]/[pug]/lib/index.js:238:16
  
  
  - SyntaxError: Mismatched Bracket: }
  
  - compiler.js:76 
    [dxcqcv.github.io]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:214 Compiler.<anonymous>
    [lib]/[webpack]/lib/Compiler.js:214:10
  
  - Compiler.js:403 
    [lib]/[webpack]/lib/Compiler.js:403:12
  
  - Tapable.js:67 Compiler.next
    [lib]/[webpack]/[tapable]/lib/Tapable.js:67:11
  
  - index.js:286 Compiler.<anonymous>
    [dxcqcv.github.io]/[ts-loader]/index.js:286:13
  
  - Tapable.js:69 Compiler.next
    [lib]/[webpack]/[tapable]/lib/Tapable.js:69:14
  
  - CachePlugin.js:40 Compiler.<anonymous>
    [lib]/[webpack]/lib/CachePlugin.js:40:4
  
  - Tapable.js:71 Compiler.applyPluginsAsync
    [lib]/[webpack]/[tapable]/lib/Tapable.js:71:13
  
  - Compiler.js:400 Compiler.<anonymous>
    [lib]/[webpack]/lib/Compiler.js:400:9
  
  - Compilation.js:577 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:577:13
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [lib]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:572 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:572:10
  
  - Tapable.js:67 Compilation.next
    [lib]/[webpack]/[tapable]/lib/Tapable.js:67:11
  
  - UglifyJsPlugin.js:140 Compilation.<anonymous>
    [lib]/[webpack]/lib/optimize/UglifyJsPlugin.js:140:4
  
  - Tapable.js:71 Compilation.applyPluginsAsync
    [lib]/[webpack]/[tapable]/lib/Tapable.js:71:13
  
  - Compilation.js:567 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:567:9
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [lib]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:563 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:563:8
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [lib]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:525 Compilation.seal
    [lib]/[webpack]/lib/Compilation.js:525:7
  
  - Compiler.js:397 Compiler.<anonymous>
    [lib]/[webpack]/lib/Compiler.js:397:15
  
  - Tapable.js:103 
    [lib]/[webpack]/[tapable]/lib/Tapable.js:103:11
  
  - Compilation.js:445 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:445:10
  
  - Compilation.js:344 Compilation.errorAndCallback
    [lib]/[webpack]/lib/Compilation.js:344:3
  
  - Compilation.js:400 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:400:12
  
  - Compilation.js:123 
    [lib]/[webpack]/lib/Compilation.js:123:4
  
  - Array.forEach
  
  - Compilation.js:122 callback
    [lib]/[webpack]/lib/Compilation.js:122:12
  
  - Compilation.js:137 Compilation.<anonymous>
    [lib]/[webpack]/lib/Compilation.js:137:11
  
  - NormalModule.js:85 DependenciesBlock.<anonymous>
    [lib]/[webpack]/lib/NormalModule.js:85:18
  
</pre>