
<aside>
  <div class="sidebar-about">
    <h1> <a>Shang Wen Long</a></h1>
    <p class="lead">Front-End developer</p>
  </div>
  <nav><a class="sidebar-nav-item" href="/">Blog</a><a class="sidebar-nav-item" href="/">About</a><a class="sidebar-nav-item" href="/">Resume</a><a class="sidebar-nav-item" href="/">Projects</a>
  </nav>
  <ul class="list-inline">
    <li><a href="mailto:dxcqcv@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <li><a href="https://github.com/dxcqcv" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
    <li><a href="https://twitter.com/dxcqcv" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li><a href="http://www.linkedin.com/in/wenlong-shang-603a412b?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li><a href="/images/shangwenlong-wechat.png" target="_blank"><i class="fa fa-wechat" aria-hidden="true"></i></a>
    </li>
  </ul><small id="credits">&copy; {{ site.time | date: '%Y' }}.  <a href="{{ site.baseurl }}/credits">Credits.</a></small>
</aside>