doctype html
<!--[if lte IE8]>
|<html lang="en-US" class="lte-8">
<![endif]-->
<!--[if gt IE8]><!-->
|<html lang="en-US">
<!--<![endif]-->
  head
    meta( charset='utf-8' )
    title Shang Wen Long's blog
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <!-- Feed (jekyll-feed) -->
    |{% feed_meta %}

  body
    block IEcondition
    <main>
      |{% include sidebar.html %}
      |{{ content }}
    </main>

|</html>