pre
  &:before
    content attr(data-lang) " code"
    display block
    background-color $highlight_darkened
    padding unit($golden_minor, rem) unit($golden_major, rem)
    color #fff
  margin unit($golden_minor, rem) 0

pre > code 
  display block
  background-color #ddd
  overflow-x auto
  word-wrap normal
  white-space inherit

  