@import 'reset'
@import 'variables'
@import 'mixins'


html, body
  height  100%
  box-sizing  border-box
  
*, * before, * after
  box-sizing  inherit 

img 
  max-width  100%
  height  auto

.container, main, aside, session
  height  100%

a
  text-decoration none
  &:link
  &:visited
    color $highlight_color
  &:hover
  &:focus
    color $highlight_hover

