$main-color = #75B5AA

html, body
  height: 100%
  margin: 0 
  padding: 0
  box-sizing: border-box
  
*, *:before, *:after
  box-sizing: inherit 

.container, main, aside, article
  height: 100%

h1
  color: grey
  