@import 'includes/global'

$default-alignPad-top = unit($golden_major, rem)
$default-alignPad-left = unit($phi, rem)

AlignPad(top = $default-alignPad-top, left = $default-alignPad-left)
  padding top left

main
  Row('auto')
  background-color   #ccc
  min-height   px(200)   

session
  Cols( 3.25 )
  AlignPad()
  min-height   px(500)   
  background   #ddd

aside
  Cols( .75 )
  AlignPad()
  background   $highlight_color
  min-height   px(500)   

.lead
  color $highlight_textover   

a.sidebar-nav-item
  color   #fff
  display   block
  padding 1em 0    
  &:hover
    color $highlight_hover

.sidebar-about > h1 
  color   #fff
  
nav 
  padding  unit($phi, em) 0  

  
.list-inline
  display flex
  justify-content space-between 
  color $highlight_textover
  & > li > a
    display inline-block
    text-align center
    line-height px(40, 16)
    width   px(40, 16)   
    height   @width 
    border-radius   100%
    background   #fff

#credits
  padding-top unit($phi, em)
  color $highlight_textover
  display block
  
.post-date
  display block
  color $highlight_lightened
  padding-bottom 1rem