<!DOCTYPE html><!--[if lte IE8]><html lang="en-US" class="lte-8"><![endif]-->
<!--[if gt IE8]><!--><html lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Shang Wen Long's blog1212121</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<link href="./css/commons-6807f866.css" rel="stylesheet"></head>
<body>
  <div class="container">{{ content }}</div>
<script type="text/javascript" src="./js/commons-6807f866.js"></script><script type="text/javascript" src="./js/index-6807f866.js"></script></body></html>